.grid {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid;
    height: 600px;
    width: 600px;
    margin: auto;
}

.grid div {
    height: 40px;
    width: 40px;

}

.shooter {
    background-color: blue;
}

.invader {
    background-color: purple;
    border-radius: 10px;
}

.boom {
    background-color: orangered;
}

.laser {
    background-color: red;
}