*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: "Jost", sans-serif;
}

body {
    background: #333;
}

h1 {
    text-align: center;
    padding: 240px 0;
    color: #f1f1f1;
}

.box-timeline {
    position: relative;
    width: 100%;
    height: 1500px;
    background: #f1f1f1;
    padding: 80px 0 250px 0;
    margin-bottom: 100px;
}

.ligne {
    height: 1000px;
    width: 6px;
    margin: 0 auto;
    background: #333;
}

.rond {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #333;
    color: #fff;
    border: 1px solid #000;
    font-size: 40px;
}

.r1{top: 80px;}
.r2{top: 386px;}
.r3{top: 692px;}
.r4{top: 1000px;}

.box {
    color: #333;
    width: 400px;
    min-height: 200px;
    padding: 20px;
    border-radius: 3px;
    height: auto;
    background: #f1f1f1;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.b1 {
    top: 80px;
    left: calc(50% - 270px);
}
.b2 {
    top: 386px;
    left: calc(50% + 270px);
}
.b3 {
    top: 692px;
    left: calc(50% - 270px);
}
.b4 {
    top: 1000px;
    left: calc(50% + 270px);
}

.box p {
    line-height: 20px;
    font-size: 18px;
    margin: 10px 0 20px 0;

}

.btn {
    display: block;
    background: midnightblue;
    padding: 10px;
    text-align: center;
    width: 120px;
    color: #f1f1f1;
    border-radius: 3px;
    text-decoration: none;
    margin-top: 10px;
}

@media screen and (max-width: 1000px) {
    .ligne {
        position: relative;
        left: 200px;
    }
    .rond {
        left: calc(50% + 200px);
    }
    .box {
        left: calc(50% - 50px);
    }

}
